@import '../../../../styles/vars.styl'

.wrapper
  display grid
  grid-template-columns repeat(3, 1fr)
  gap 24px
  padding 10px 5px 200px 5px
  margin 0 auto

  @media (min-width $mobile-width)
    padding 10px 50px 200px 100px
    margin 0

.card
  display grid
  grid-template-rows auto auto
  align-items end
  gap 8px

.value
  font-size 24px
  font-weight 500
  color var(--accent-color)
  line-height 1

.labels
  color var(--text-color)
  opacity 0.75
  font-size 13px
  letter-spacing 1.5px
  text-transform uppercase

  @media (min-width $mobile-width)
    font-size 15px