.wrapper
  display grid
  grid-template-columns repeat(3, 1fr)
  gap 24px
  padding 10px 50px 200px 100px

.card
  display grid
  grid-template-rows auto auto
  align-items end
  gap 8px

.value
  font-size 24px
  font-weight 500
  color var(--accent-color)
  line-height 1

.labels
  color var(--text-color)
  opacity 0.75
  font-size 15px
  letter-spacing 1.5px
  text-transform uppercase