@import '../../../../../../styles/vars.styl'

.category
  margin 22px 0 4px

.categoryTitle
  font-weight 300
  margin-bottom 12px
  font-size 14px
  color var(--brand-g1-color)
  padding-left 10px

  @media (min-width $mobile-width)
    padding-left 0

.skills
  display flex
  flex-wrap wrap
  gap 8px