.button
  color var(--contrast-color)
  height 34px
  border none
  outline none
  box-shadow none
  display flex
  align-items center
  background linear-gradient(to top right, var(--brand-g1-color), var(--brand-g2-color))
  padding 2px 12px
  border-radius 22px
  will-change transform, background-color
  transition background-color 0.1s ease, opacity 0.1s ease

  svg
    width 20px
    height 20px

  &:hover
    filter brightness(1.2)

  &:focus, &:active
    outline none
    box-shadow none
    border none
    border-radius 22px

  &:active
    opacity 0.7

  &.onlyIcon
    width 28px
    height 28px
    padding 4px
    border-radius 50%
    justify-content center

    svg
      width 18px
      height 18px

  &.customIcon
    .label
      padding 0 5px 0 3px

.small
  height 24px

  &.onlyIcon, &.customIcon
    svg
      width 16px
      height 16px

  &.onlyIcon
    width 24px
    height 24px
    padding 3px

.large
  height 44px
  padding 4px 18px

  &.onlyIcon, &.customIcon
    svg
      width 24px
      height 24px

  &.onlyIcon
    width 44px
    height 44px
    padding 6px

.selected
  filter brightness(0.65)

  p
    filter brightness(0.4)

.active
  color var(--text-button-color)

.disabled
  color var(--disabled-color)

.empty
  background transparent
  border 1px solid var(--brand-g1-color) !important

  &.gradient
    position relative
    border none !important
    border-radius 28px
    background linear-gradient(to top right, var(--brand-g1-color), var(--brand-g2-color))
    filter brightness(1.12)

    &:hover
      border none !important
      filter brightness(1.32)

    &:active
      border none !important

    &::before
      content ''
      position absolute
      top 2px
      left 2px
      right 2px
      bottom 2px
      background var(--background-color)
      border-radius 28px
      z-index -1

    &.large
      &::before
        top 3px
        left 3px
        right 3px
        bottom 3px

    p
      font-size 14px
      font-weight 700
      background linear-gradient(to top right, #e63e1a, var(--brand-g2-color))
      -webkit-background-clip text
      -webkit-text-fill-color transparent
      background-clip text
      color transparent

    &:not(.onlyIcon) svg
      padding-right 5px

  &:hover
    border 2px solid var(--brand-g1-color) !important

.gost
  background transparent

.label
  font-size 12px
  text-align center
  padding 0 5px

.contentWrapper
  display flex
  align-items center

  &.leftWrapper
    flex-direction row

  &.rightWrapper
    flex-direction row-reverse

  & .label
    position absolute
    right 12px
    white-space nowrap
    opacity 0

  & .activeLabel
    opacity 1

  & .hiddenLabel
    opacity 0
    font-size 12px
    text-align center
    padding 0 5px

.hidden
  opacity 0

.link
  background linear-gradient(to top right, var(--brand-g1-color), var(--brand-g2-color))
  -webkit-background-clip text
  background-clip text
  color transparent
  padding 0
  border-radius 0
  height auto
  font-size 12px
  text-align center
  padding 0 5px
  transition filter 0.2s ease