// ------------------------------ LIGHT THEME ------------------------------
.light-theme
  /* Common */
  --brand-g1-color #ff4c29
  --brand-g2-color #2f485c
  --accent-color #000
  --background-color #b5b7b9
  --background-front-color #ffffff
  --secondary-color #6c757d
  --non-active-color #9DB2CE
  --disabled-background-color #c8c8c8
  --blackout-color #000
  --border-color #ced4da
  --secondary-border-color #d5dbe1
  --contrast-color #000
  --opposite-contrast-color #fff
  --block-hover-bg-color rgba(0, 0, 0, 0.06)
  --text-color #484848
  --text-button-color #ffffff
  --text-highlight-color #ffffff
  --avatar-bg-color #ffffff
  --shadow-color #c4c4c6
  --shadow-hover-color rgba(0, 0, 0, 0.06)
  --img-bg-color transparent

// ------------------------------ DARK THEME ------------------------------
.dark-theme
  /* Common */
  --brand-g1-color #ff4c29
  --brand-g2-color #2f485c
  --accent-color #ff4c29
  --background-color #15191d
  --background-front-color #27282a
  --secondary-color #556c81
  --non-active-color #3d4959
  --disabled-background-color #747474
  --blackout-color #000
  --border-color #ced4da
  --secondary-border-color #2c343c
  --contrast-color #ffffff
  --opposite-contrast-color #000
  --block-hover-bg-color rgba(255, 255, 255, 0.06)
  --text-color #d3d5d9
  --text-button-color #ffffff
  --text-highlight-color #e9eaec
  --avatar-bg-color #a8a7a7
  --shadow-color #000000
  --shadow-hover-color rgba(255, 255, 255, 0.08)
  --img-bg-color #191919