// ----------------------- COMMON COLORS (NOT THEME) -----------------------
:root
  --c-background-color #dbdbdb
  --c-accent-color #ff4c29
  --c-white-color #ffffff
  --c-black-color #000000
  --c-dark-background-color #27282a
  --c-text-color #484848
  --c-light-text-color #d3d5d9
  --c-secondary-color #6c757d
  --c-border-color #d5dbe1
  --c-tag-color #72767c
  --c-transparent-color rgba(255, 255, 255, 0.5)
  --c-offline-color #ff4444
  --c-online-color #44ff44
  --c-brand1-t-color rgba(255, 76, 41, 0.2)
  --c-brand2-t-color rgba(47, 72, 92, 0.2)

// ------------------------------ LIGHT THEME ------------------------------
.light-theme
  /* Common */
  --brand-g1-color #ff4c29
  --brand-g2-color #2f485c
  --accent-color #000
  --background-color #b5b7b9
  --background-front-color #ffffff
  --secondary-color #6c757d
  --non-active-color #8799b1
  --disabled-background-color #c8c8c8
  --blackout-color #000
  --border-color #ced4da
  --secondary-border-color #d5dbe1
  --contrast-color #000
  --opposite-contrast-color #fff
  --block-hover-bg-color rgba(0, 0, 0, 0.06)
  --text-color #484848
  --text-button-color #ffffff
  --text-highlight-color #ffffff
  --avatar-bg-color #ffffff
  --shadow-color #c4c4c6
  --shadow-hover-color rgba(0, 0, 0, 0.06)
  --img-bg-color transparent

// ------------------------------ DARK THEME ------------------------------
.dark-theme
  /* Common */
  --brand-g1-color #ff4c29
  --brand-g2-color #2f485c
  --accent-color #ff4c29
  --background-color #15191d
  --background-front-color #27282a
  --secondary-color #556c81
  --non-active-color #3d4959
  --disabled-background-color #747474
  --blackout-color #000
  --border-color #ced4da
  --secondary-border-color #2c343c
  --contrast-color #ffffff
  --opposite-contrast-color #000
  --block-hover-bg-color rgba(255, 255, 255, 0.06)
  --text-color #d3d5d9
  --text-button-color #ffffff
  --text-highlight-color #e9eaec
  --avatar-bg-color #e8e8e8
  --shadow-color #000000
  --shadow-hover-color rgba(255, 255, 255, 0.08)
  --img-bg-color #191919