@import '../../styles/vars.styl'

.wrapper
  display flex
  flex-direction column
  margin 0 auto
  max-width 980px
  padding-right 0

  @media (min-width $medium-width)
    padding-right 100px

.cvTable
  padding 16px 16px 14px
  background-color var(--c-white-color)
  border-radius 24px
  margin 80px 0 240px

.cvList
  display flex
  flex-direction column
  gap 16px
  padding 16px
  height 1200px
