.languagesList
  display flex
  flex-direction column
  gap 8px

.languageItem
  display flex
  flex-direction column
  gap 2px

.languageRow
  display flex
  justify-content space-between
  align-items center

.languageName
  font-size 14px
  color var(--c-text-color)
  font-weight 500

.languageCode
  font-size 12px
  color var(--c-black-color)
  font-weight 600
  padding-right 3px

.languageLevel
  font-size 12px
  color var(--brand-g1-color)