.contacts
  display flex
  justify-content center
  align-items center
  gap 16px
  flex-wrap wrap

.contactButton
  border-radius 14px !important

  &:hover
    box-shadow 0 0px 10px var(--shadow-hover-color)

  &:active
    box-shadow 0 0px 10px var(--shadow-hover-color)

.tooltip
  white-space nowrap