.wrapper
  display flex
  gap 16px
  border-radius 8px
  padding 240px 16px 280px
  justify-content center

.center
  display flex
  gap 16px
  width 550px

.titleBlock
  display flex
  flex-direction column
  gap 8px
  justify-content center

.name
  margin 0
  font-size 32px
  font-weight 300
  color var(--text-highlight-color)

.role
  color var(--accent-color)
  font-weight 600
  font-size 17px