.skillsList
  display flex
  flex-wrap wrap
  gap 4px

.skillTag
  border 1px dotted var(--c-tag-color)
  color var(--c-tag-color)
  padding 0px 5px
  border-radius 4px
  white-space nowrap
  font-size 13px
  line-height 18px

.less
  font-size 12px