.section
  background var(--c-white-color)
  border-radius 8px
  padding 16px
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.06)
  border 1px dotted var(--c-border-color)

.sectionHeader
  display flex
  align-items center
  gap 8px
  margin-bottom 8px

.sectionIcon
  display flex
  align-items center
  justify-content center
  width 20px
  height 20px
  flex-shrink 0

.sectionTitle
  margin 0
  font-weight 700
  color var(--c-text-color)

.sectionContent
  display flex
  flex-direction column
  gap 16px

.dark
  background var(--c-background-color)
  border none

.hight
  overflow hidden
  position relative

  &::after
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    height 40px
    background linear-gradient(var(--c-transparent-color), var(--c-white-color))
    pointer-events none
